@model ICollection<BlogSystem.ViewModels.PostViewModel>

<h1>Posts</h1>
<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-lg-3 post">

            @if (Request.IsAuthenticated)
                {
                @Html.ActionLink(" ", "Index", "AddBlogPost", new { id = post.Id }, new { @class = "glyphicon glyphicon-pencil pull-right btn btn-default" })
            }
            <a href="@Url.Action("PreviewBlogPost", "AddBlogPost", new {id = post.Id})">
                <h2>@post.Name</h2>

                <p class="text-primary">@post.Content</p>
            </a>
            <p class="text-muted">@String.Format($"{post.DateCreated:f}");</p>
            @if (!post.Username.IsEmpty())
                {
                <p class="text-success">Created by: @post.Username</p>
            }

        </div>
    }
</div>