@model ProjectsTracker.Models.LoginRegisterViewModel

<div class="animate form login_form">
    <section class="login_content">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h1>Login Form</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.TextBoxFor(m => (m.LoginViewModel).Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => (m.LoginViewModel).Email) })
                @Html.ValidationMessageFor(m => (m.LoginViewModel).Email, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.PasswordFor(m => (m.LoginViewModel).Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => (m.LoginViewModel).Password), required = "" })
                @Html.ValidationMessageFor(m => (m.LoginViewModel).Password, "", new { @class = "text-danger" })
            </div>
          
            <div>
                <input type="submit" value="Log in" class="btn btn-default" />
                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "reset_pass" })
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    New to site?
                    <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> Projects Tracker</h1>
                    <p>©2016 All Rights Reserved.</p>
                </div>
            </div>
        }
    </section>
</div>
