@model IEnumerable<ProjectViewModel>
<table class="table table-striped projects">
    <thead>
    <tr>
        <th style="width: 1%">#</th>
        <th style="width: 20%">Project Name</th>
        <th>Team Members</th>
        <th>Project Progress</th>
        <th>Status</th>
        @if (User.IsInRole(RoleConstants.AdmminRole) || User.IsInRole(RoleConstants.ManagerRole))
        {
            <th style="width: 20%">Edit</th>
        }
        else
        {
            <th style="width: 20%">View</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var project in Model)
    {
        if (project.isActive && !project.IsDeleted)
        {
            <tr>
                <td>@project.Id</td>
                <td>
                    <a>@project.Title</a>
                    <br />
                    <small>Created @String.Format($"{project.CreatedOn:f}")</small>
                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <img src="/Content/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                            <img src="/Content/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                            <img src="/Content/images/user.png" class="avatar" alt="Avatar">
                        </li>
                        <li>
                            <img src="/Content/images/user.png" class="avatar" alt="Avatar">
                        </li>
                    </ul>
                </td>
                <td class="project_progress">
                    <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="66"></div>
                    </div>
                    <small>66% Complete</small>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-xs">Success</button>
                </td>

                <td>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    @if ((User.IsInRole(RoleConstants.ManagerRole) && User.Identity.GetUserId() == project.Owner.Id) || User.IsInRole(RoleConstants.AdmminRole))
                    {
                        <a href="@Url.Action("Edit", "Project", new {Id = project.Id})" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            @*<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>*@
                    }
                        
                    @if (User.IsInRole(RoleConstants.AdmminRole))
                    {
                        @Ajax.ActionLink("Delete",
                            "Delete", "Project",
                            new {projectId = project.Id},
                            new AjaxOptions
                            {
                                Confirm = "Are you sure you want to delete this project?",
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "projects-holder"
                            }, 
                            new {@class = "btn btn-danger btn-xs"})
                    }
                </td>

            </tr>
        }
    }
    @if (!Model.Any())
    {
        <tr>
            <td>
                There are no active projects.
            </td>
        </tr>
    }
    </tbody>
</table>
