@model List<PTaskViewModel>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model[0].Title)</th>
                <th>@Html.DisplayNameFor(model => model[0].ProgressPercent)</th>
                <th>@Html.DisplayNameFor(model => model[0].Owner.UserName)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var task = Model.OrderBy(t => t.CreatedOn).ElementAt(i);
                <tr id="task-@task.Id" class="@(task.ProgressPercent == 100 ? "well" : "")">
                    @Html.Partial("~/Views/PTask/_Task.cshtml", task, new ViewDataDictionary { { "counter", i + 1 } })
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="well">@ProjectDetailsConstants.NoTasks</p>
}

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="updateModalLabel"></h2>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>