@model List<PTaskViewModel>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model[0].Id)</th>
                <th>@Html.DisplayNameFor(model => model[0].Title)</th>
                <th>@Html.DisplayNameFor(model => model[0].ProgressPercent)</th>
                <th>@Html.DisplayNameFor(model => model[0].Owner.UserName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.OrderBy(t => t.CreatedOn))
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => task.Id)</th>
                    <td>@Html.DisplayFor(modelItem => task.Title)</td>
                    <td>
                        <div class="progress right">
                            <div class="progress-bar progress-bar-success" data-transitiongoal="@task.ProgressPercent"></div>
                        </div>
                    </td>
                    <td>@Html.DisplayFor(modelItem => task.Owner.UserName)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="well">@ProjectDetailsConstants.NoTasks</p>
}

