@using BlogSystem.ViewModels
@model BlogSystem.ViewModels.PostViewModel

<div class="postDetails" id="postDetails">
    <h1>@Model.Name</h1>
    <h6>Created by: @Model.Username on @String.Format($"{Model.DateCreated:f}")</h6>

    <article>@Model.Content</article>

    <br />
    @* ajax loaded comments here. From _comments partial view *@
    <div id="comments">
        @Html.Partial("_comments", Model)
    </div>
    @* @Html.ActionLink("Add mew comment", "AddComment", "Comments", new { id = Model.Id }, new { @class = "btn btn-default" })*@
    

    @Html.Partial("_addComment", new CommentViewModel(), new ViewDataDictionary { { "postId", Model.Id } })

</div>