@model BlogSystem.ViewModels.PostViewModel
@{

    ViewBag.Title = (Model.Id > 0) ? "Edit" : "Add";
}
<h2>@ViewBag.Title post.</h2>


<div class="row">
    @using (Html.BeginForm("Update", "Post", FormMethod.Post))
    {
        <fieldset class="col-sm-12">
            <p class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg" })
            </p>
            <p class="form-group">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = "10" })
            </p>
            @Html.HiddenFor(m => m.Id)
        </fieldset>
        <div class="col-sm-6">
            <input class="btn btn-primary" type="submit" name="submit-post" value="@ViewBag.Title post" />            
        </div>
    }

    <div class="col-sm-6">
        @if (Request.Params["deletedName"] != null)
            {
            <p class="row bg-danger">The post "@Request.Params["deletedName"]" has been deleted!</p>
        }

        @if (Model.Id != 0)
            {

                using (Html.BeginForm("Delete", "Post", FormMethod.Post))
                {
                @Html.HiddenFor(m => m.Id)               
                <input class="btn btn-danger pull-right" type="submit" onclick="return confirm('Are you sure you wish to delete this post?');" name="submit-post" value="Delete this post" />
            }

        }
    </div>
</div>